.header
  .header-content
    %h1.header-content__left 
      = link_to 'Great happiness', root_path, class: 'header-content__left__title'
    %ul.header-content__right
      %li.header-content__right__list お題
      %li.header-content__right__list 
        = link_to 'ログアウト', destroy_user_session_path, method: :delete
      %li.header-content__right__list 
        = link_to current_user.name, users_path(current_user)
      %li.header-content__right__list 画像
.group-content
  .title お題
  = link_to '文字', root_path, class: 'new-arrival'
  = link_to '写真', search_themes_path, class: 'comment-order'
  .contents
    - @themes.each do |theme|
      - if theme.image.present?
        .content
          .content__theme 
            = link_to theme_path(theme), class: 'content__theme__title' do
              = theme.title
              = image_tag theme.image.url, class: 'content__theme__title__image' if theme.image.present?
          .content__comment
            .content__comment__title
              コメント数:
            .content__comment__number
              = theme.comments.count
  
  = paginate(@themes)