.group-content
  .title お題
  .sorting
    = link_to '文字', root_path, class: 'turn sorting__theme', value: 'arrival'
    = link_to '写真で一言', search_themes_path, class: 'turn sorting__image'
  .contents
    - @themes.each do |theme|
      - if theme.image.present?
        .content
          .content__theme 
            = link_to theme_path(theme), class: 'content__theme__title' do
              = theme.title
              = image_tag theme.image.url, class: 'content__theme__title__image' if theme.image.present?
          .content__comment
            .content__comment__title
              コメント数:
            .content__comment__number
              = theme.comments.count
  
  = paginate(@themes)