.header
  .header-content
    %h1.header-content__left 
      = link_to 'Great happiness', root_path
    %ul.header-content__right
      %li.header-content__right__list お題
      %li.header-content__right__list 画像
.group-content
  .show-content
    .show-content__theme
      = @theme.title
    .show-content__comments
      - @comments.each do |comment|
        .comment
          .comment__left
            = comment.text
          .comment__right
            .comment__right__good
              いいね
            .comment__right__name
              = current_user.name
    = form_with model: [@theme, @comment] do |f|
      .show-content__form
        = f.text_area :text, placeholder: 'コメント', rows: "2", size: "40", class: 'show-content__form__text'
        = f.submit value: '投稿', class: 'show-content__form__submit'