- breadcrumb :themes
-# 下記を記述した箇所にパンくずリストが表示される。
= breadcrumbs separator: " &rsaquo; ", class: 'breadcrumbs'
.group-content
  .show-content
    .show-content__theme
      = @theme.title
      = image_tag @theme.image.url, class: 'show-content__theme__image' if @theme.image.present?
    .show-content__ranks
      - @theme_ranks.each.with_index(1) do |comment, i|
        - if i < 4
          %div(class="rank rank__#{i}")
            = i
            位
          %div(class="comment comment__#{i}")
            .comment__left
              = markdown(comment.text).html_safe
            .comment__right
              -# %div{ id: "like-btn-#{comment.id}" }
              -#   = render partial: "likes/like", locals: { comment: comment}
              %div(class="comment__right__#{i}")
                = comment.likes.count
              %div(class="comment__right__name#{i}")
                = comment.user.name
      - unless @theme_ranks.present?
        .show-content__ranks__none
          ※いいね数のランキングが表示されます
          %br
          ランキング入りを目指して頑張ろう！！
    .show-content__comments
      - @comments.each do |comment|
        .comment
          .comment__left
            = markdown(comment.text).html_safe
          .comment__right
            %div{ id: "like-btn-#{comment.id}" }
              = render partial: "likes/like", locals: { comment: comment}
            .comment__right__name
              = comment.user.name
      - unless @comments.present?
        .show-content__comments__none 
          ※まだコメントがありません
          %br 
          コメントを入力してみよう！！
      
    = form_for [@theme, @comment], id: "new_comment" do |f|
      .new-content__form
        = f.text_area :text, placeholder: 'コメント', class: 'new-content__theme__text', id: 'editor'
        %link{:href => "https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css", :rel => "stylesheet"}/
        %script{:src => "https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"}
        :javascript
          var simplemde = new SimpleMDE({ element: document.getElementById("editor") });
        = f.submit value: '投稿', class: 'new-content__form__submit'