!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GreatHappiness
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header-content
        %h1.header-content__left 
          = link_to 'Great happiness', root_path, class: 'header-content__left__title'
        -if user_signed_in? && current_user.id
          %ul.header-content__right
            %li
              = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'header-content__right__list'
            %li 
              = link_to 'マイページ', users_path(current_user), class: 'header-content__right__list'
            %li
              = link_to 'いいね一覧', likes_users_path, class: 'header-content__right__list'
    = yield
